.profile__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 460px) {
  .profile__info {
    flex-direction: column;
  }
}