.profile__about {
  max-width: 295px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__about {
    margin: -20px 0 36px 0;
    max-width: 250px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 320px) {
  .profile__about {
    max-width: 200px;
  }
}