.elements {
  max-width: 882px;
  min-height: 744px;
  margin: auto;
  padding: 0 0 66px 0;
  display: grid;
  grid-template-columns: 282px 282px 282px;
  grid-template-rows: auto;
  grid-column-gap: 18px;
  grid-row-gap: 21px;
}

@media screen and (max-width: 960px) {
  .elements {
    max-width: 880px;
    grid-template-columns: 282px 282px;
    grid-row-gap: 20px;
    justify-content: center;
  }
}

@media screen and (max-width: 680px) {
  .elements {
    max-width: 282px;
    grid-template-columns: 282px;
    grid-row-gap: 20px;
  }
}