.popup__error {
  width: 358px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  background-color: #fff;
  position: absolute;
  top: 36px;
  left: 0px;
  display: none;
}

@media screen and (max-width: 620px) {
  .popup__error {
    width: 200px;
  }
}