.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url(../../../images/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: 0.15s linear;
}