.element__delete-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../../../images/delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}

.element__delete-button_hidden {
  display: none;
}

.element__delete-button:hover {
  opacity: 0.6;
  transition: 0.15s linear;
}