@import url(./__logo/header__logo.css);

.header {
  max-width: 882px;
  min-height: 74px;
  margin: 0 auto 40px auto;
  padding: 45px 0 0 0;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 320px) {
  .header {
    min-height: 56px;
    width: 100%;
    margin: 0 auto 42px auto;
    padding: 28px 0 0 0;
  }
}